{% extends "01_base/base-cadastro.html" %}
{% load static %}

{% block content_css %}
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static "material/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}" rel="stylesheet" />
    <!-- Wait Me Css -->
    <link href="{% static "material/plugins/waitme/waitMe.css" %}" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="{% static "material/plugins/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet" />
{% endblock %}

{% block content_participante %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form name="dados_participante" action="" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="header">
                    <h2>
                        DADOS DO PARTICIPANTE
                        <small>Dados pessoais do participante</small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">

                        <div class="col-sm-8">
{#                            <input type="checkbox" id="basic_checkbox_1" checked="">#}
{#                            <label for="basic_checkbox_1">Default</label>#}
{#                            <input type="checkbox" id="basic_checkbox_2" class="filled-in" checked="">#}
{#                            <label for="basic_checkbox_2">Filled In</label>#}
{#                            <input type="checkbox" id="basic_checkbox_3" checked="" disabled="">#}
{#                            <label for="basic_checkbox_3">Default - Disabled</label>#}
{#                            <input type="checkbox" id="basic_checkbox_4" class="filled-in" checked="" disabled="">#}
{#                            <label for="basic_checkbox_4">Filled In - Disabled</label>#}
                            {{ form_participante.verificacao_nis }}
                        </div>


                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.nome_completo }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.cpf }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.nis_pis }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.rg }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.rg_orgao_exp }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" style="margin-top: -15px">
                                <h2 class="card-inside-title">UF do órgão expedidor</h2>
                                <div class="form-line">
                                    {{ form_participante.rg_uf }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.nome_mae }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.nome_pai }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.dt_nascimento }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Sexo</h2>
                                <div class="form-line">
                                    {{ form_participante.sexo }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Estado civil</h2>
                                <div class="form-line">
                                    {{ form_participante.estado_civil }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Município de Naturalidade</h2>
                                <div class="form-line">
                                    {{ form_participante.municipio_naturalidade }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.titulo_eleitor }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.ctps }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.ctps_serie }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group" style="margin-top: -15px">
                                <h2 class="card-inside-title">UF da CTPS</h2>
                                <div class="form-line">
                                    {{ form_participante.ctps_uf }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group" style="margin-top: -15px">
                                <h2 class="card-inside-title">Tipo de documento</h2>
                                <div class="form-line">
                                    {{ form_participante.tipo_documento_empregador }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.cnpj_ultimo_empregador }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.nome_empresa }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.funcao }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.dt_entrada }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.dt_saida }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="card-inside-title"><strong>Quantidade de filhos por faixa etária</strong></h2>

                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_filhos_0_m_6_m }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_filhos_7_m_3_a }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_filhos_4_a_7_a }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_filhos_8_a_12_a }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_filhos_13_a_17_a }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_filhos_18_a_29_a }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Há gestante na família?</h2>
                                <div class="form-line">
                                    {{ form_participante.gestante_familia }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">É alfabetizado?</h2>
                                <div class="form-line">
                                    {{ form_participante.alfabetizado }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Está estudando?</h2>
                                <div class="form-line">
                                    {{ form_participante.estudando }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Turno escolar preferido?</h2>
                                <div class="form-line">
                                    {{ form_participante.turno_atividade_escolar }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h2 class="card-inside-title">Grau de escolaridade?</h2>
                                <div class="form-line">
                                    {{ form_participante.grau_escolaridade }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Raça</h2>
                                <div class="form-line">
                                    {{ form_participante.raca }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <h2 class="card-inside-title">Portador de deficiência?</h2>
                                <div class="form-line">
                                    {{ form_participante.portador_deficiencia }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card">
                <div class="header">
                    <h2>
                        ENDEREÇO
                        <small>Endereço do participante</small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.logradouro }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.numero }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.complemento }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.cep }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.fone }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.celular }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="header">
                    <h2>
                        Dados Econômicos
                        <small>Dados econômicos do participante</small>
                    </h2>
                </div>
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.renda_mensal }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_pessoas_casa }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_participante.qtd_pessoas_contribuem_renda }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-success m-t-5 waves-effect">SALVAR</button>
                <button type="button" class="btn btn-danger m-t-5 waves-effect">CANCELAR</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block content_js %}
    <!-- Autosize Plugin Js -->
    <script src="{% static "material/plugins/autosize/autosize.js" %}"></script>
    <!-- Moment Plugin Js -->
    <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="{% static "material/plugins/momentjs/moment.js" %}"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="{% static "material/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js" %}"></script>
    <!-- Custom Js -->
    <script src="{% static "material/js/admin.js" %}"></script>
    <script src="{% static "material/js/pages/forms/basic-form-elements.js" %}"></script>

    <script>
        $(document).ready(function() {
            $('#id_dt_nascimento').bootstrapMaterialDatePicker({
                lang: 'pt-br',
                time: false,
                clearButton: true,
                format: 'DD/MM/YYYY',
                cancelText: 'Descartar',
                clearText: 'Limpar',

            });

            $('#id_dt_entrada').bootstrapMaterialDatePicker({
                lang: 'pt-br',
                time: false,
                clearButton: true,
                format: 'DD/MM/YYYY',
                cancelText: 'Descartar',
                clearText: 'Limpar',

            });

            $('#id_dt_saida').bootstrapMaterialDatePicker({
                lang: 'pt-br',
                time: false,
                clearButton: true,
                format: 'DD/MM/YYYY',
                cancelText: 'Descartar',
                clearText: 'Limpar',

            });

        });

    </script>

{% endblock %}
