{% extends "01_base/base-application.html" %}
{% load static %}

{% block content_css %}



{% endblock %}

{% block content %}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h2>Consulta de Participante</h2>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 js-modal-buttons">
                        <button type="button" class="btn btn-warning btn-xs btn-block waves-effect btn-savecard" data-color="green">
                            <i class="material-icons">search</i>
                            <span>Pesquisar beneficiário pelo cartão</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Nome Beneficiário</th>
                                <th>CPF</th>
                                <th>Municipio</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome Beneficiário</th>
                                <th>CPF</th>
                                <th>Municipio</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for beneficiario in all_participantes %}
                            <tr>
                                <td>
                                    <a href="/participante/cadastro/{{ beneficiario.id }}/">
                                        {{ beneficiario.nome_completo }}
                                    </a>
                                </td>
                                <td>{{ beneficiario.cpf }}</td>
                                <td>
                                    {% if beneficiario.municipio_naturalidade %}
                                        {{ beneficiario.municipio_naturalidade }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->


<div class="modal fade in" id="mdModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <form action="/participante/consulta/cartao" method="POST">
            {% csrf_token %}
            <div class="modal-content modal-col-red">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="defaultModalLabel" >Pesquisar Participante pelo cartão</h2>
                </div>
                <div class="demo-google-material-icon text-center" style="color: #ffffff">
                    <i class="material-icons" style="font-size: 68px">sim_card</i>
                    <br>
                    Passe o cartão para filtrar o beneficiário
                </div>

                <div class="modal-body text-center">
                    <div>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" name="cartao_id" value="" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block content_js %}

    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static "material/plugins/jquery-datatable/jquery.dataTables.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.flash.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/jszip.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/pdfmake.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/vfs_fonts.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.html5.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.print.min.js" %}"></script>

    <!-- Bootstrap Notify Plugin Js -->
    <script src="{% static "material/plugins/bootstrap-notify/bootstrap-notify.js" %}"></script>

    <!-- Custom Js -->
    <script src="{% static "project/04_participante/consulta.js" %}"></script>

{% endblock %}