{% extends "01_base/base-application.html" %}
{% load static %}

{% block content_css %}
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static "material/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="/capacitacao/turma/cadastrar_turma">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-green">people</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">Cadastrar</div>
                    <div class="number">Turma</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="/capacitacao/turma/listar">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-blue">playlist_add_check</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">Controle das</div>
                    <div class="number">Turmas</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-light-blue">access_alarm</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">ALARM</div>
                    <div class="number">07:00 AM</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <a href="">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-cyan">gps_fixed</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">LOCATION</div>
                    <div class="number">Turkey</div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>CAPACITAÇÃO</h2>
            </div>
            <div class="body">

                <div class="row">
                    <div class="col-md-4">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content_js %}
    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static "material/plugins/jquery-countto/jquery.countTo.js" %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static "material/plugins/jquery-sparkline/jquery.sparkline.js" %}"></script>

    <!-- Custom Js -->
    <script src="{% static "material/js/helpers.js" %}"></script>
    <script src="{% static "material/js/pages/widgets/infobox/infobox-5.js" %}"></script>

{% endblock %}