{% extends "01_base/base-application.html" %}
{% load static %}

{% block content_css %}
    <!-- JQuery DataTable Css -->
    <link href="{% static "material/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>TURMAS CADASTRADAS</h2>
                <small>Para atualizar, clique no nome da turma e para inserir alunos clique em <i class="material-icons" style="font-size: 14px;">visibility</i></small>
            </div>
            <div class="body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Nome/Identificação</th>
                                <th>Turno</th>
                                <th>Curso</th>
                                <th>Local</th>
                                <th class="text-center">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome/Identificação</th>
                                <th>Turno</th>
                                <th>Curso</th>
                                <th>Local</th>
                                <th class="text-center">Status</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for objturma in all_turmas %}
                            <tr>
                                <td>
                                    <a href="/capacitacao/turma/{{ objturma.id }}/atualizar">
                                        {{ objturma.nome }}
                                    </a>
                                </td>
                                <td><small>{{ objturma.turno }}</small></td>
                                <td><small>{{ objturma.curso_turma }}</small></td>
                                <td><small>{{ objturma.local_turma|truncatechars:30 }}</small></td>
                                <td class="text-center">
                                {% if objturma.status.id == 50050100 %}
                                    <button type="button" class="btn bg-orange btn-xs waves-effect">{{ objturma.status }}</button>
                                {% elif objturma.status.id == 50060100 %}
                                    <button type="button" class="btn bg-grey btn-xs waves-effect">{{ objturma.status }}</button>
                                {% endif %}
                                </td>
                                <td>
                                    <a href="/capacitacao/turma/{{ objturma.id }}/visualizar">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content_js %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static "material/plugins/jquery-datatable/jquery.dataTables.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.flash.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/jszip.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/pdfmake.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/vfs_fonts.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.html5.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.print.min.js" %}"></script>

    <!-- Custom Js -->
    <script src="{% static "project/07_escola/consulta.js" %}"></script>

{% endblock %}