{% extends "01_base/base-application.html" %}
{% load static %}

{% block content_css %}
    <!-- JQuery DataTable Css -->
    <link href="{% static "material/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>CONSULTA DE SECRETARIAS CADASTRADO</h2>
                <small>Para atualizar, clique no nome da secretaria e para visualizar clique em <i class="material-icons" style="font-size: 14px;">visibility</i></small>
            </div>
            <div class="body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Nome da Secretaria</th>
                                <th>Sigla</th>
                                <th>Nome Responsavel</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome da Secretaria</th>
                                <th>sigla</th>
                                <th>Nome Responsavel</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for sec_obj in all_sec %}
                            <tr>
                                <td>
                                    <a href="/capacitacao/local/secretaria/{{ sec_obj.id }}/atualizar">
                                        {{ sec_obj.nome }}
                                    </a>
                                </td>
                                <td>{{ sec_obj.sigla }}</td>
                                <td>{{ sec_obj.nome_responsavel }}</td>
                                <td>{{ sec_obj.status }}</td>
                                <td>
                                    <a href="/capacitacao/local/secretaria/{{ sec_obj.id }}/visualizar">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content_js %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static "material/plugins/jquery-datatable/jquery.dataTables.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.flash.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/jszip.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/pdfmake.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/vfs_fonts.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.html5.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.print.min.js" %}"></script>

    <!-- Custom Js -->
    <script src="{% static "project/07_escola/consulta.js" %}"></script>

{% endblock %}