{% extends "01_base/base-application.html" %}
{% load static %}

{% block content_css %}
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="{% static "material/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" %}" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="{% static "material/plugins/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="/capacitacao/curso/cadastro">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-green">fiber_new</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">CADASTRAR</div>
                    <div class="number">Curso</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="/capacitacao/curso/lista">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-blue">devices</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">CONSULTAR</div>
                    <div class="number">Cursos</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <a href="/capacitacao/curso/alterar">
            <div class="info-box-4 hover-zoom-effect">
                <div class="icon">
                    <i class="material-icons col-deep-orange">update</i>
                </div>
                <div class="content" style="cursor: pointer;">
                    <div class="text">ALTERAR</div>
                    <div class="number">Curso</div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>CAPACITAÇÃO</h2>
            </div>
            <div class="body">

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                        <thead>
                                            <tr>
                                                <th>Nome do Curso</th>
                                                <th class="text-center">Qtd. Horas</th>
                                                <th class="text-center">Data do início</th>
                                                <th class="text-center">Data do término</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Nome do Curso</th>
                                                <th class="text-center">Qtd. Horas</th>
                                                <th class="text-center">Data do início</th>
                                                <th class="text-center">Data do término</th>
                                                <th class="text-center">Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for obj_curso in all_cursos %}
                                            <tr>
                                                <td>{{ obj_curso.nome }}</td>
                                                <td class="text-center">{{ obj_curso.qtd_horas }}</td>
                                                <td class="text-center">{{ obj_curso.dt_inicio|date:"Y-m-d" }}</td>
                                                <td class="text-center">{{ obj_curso.dt_final|date:"Y-m-d" }}</td>
                                                <td>{{ obj_curso.status }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Exportable Table -->

            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content_js %}
    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static "material/plugins/jquery-countto/jquery.countTo.js" %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static "material/plugins/jquery-sparkline/jquery.sparkline.js" %}"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="{% static "material/plugins/jquery-datatable/jquery.dataTables.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.flash.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/jszip.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/pdfmake.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/vfs_fonts.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.html5.min.js" %}"></script>
    <script src="{% static "material/plugins/jquery-datatable/extensions/export/buttons.print.min.js" %}"></script>
    <!-- Custom Js -->

    <script src="{% static "project/07_escola/curso_home.js" %}"></script>

    <!-- Custom Js -->-
    <script src="{% static "material/js/helpers.js" %}"></script>
    <script src="{% static "material/js/pages/widgets/infobox/infobox-5.js" %}"></script>

{% endblock %}