{% extends "01_base/base-application.html" %}
{% load static %}

{% block content %}

<style>
.icon-ok {
    color: #0ED800;
}

.icon-pendente {
    color: #D8C300;
}
</style>

<div class="token">{% csrf_token %}</div>
<input type="hidden" class="id_participante" value="{{ id_participante }}">

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>CADASTRO COMPLETO DO PARTICIPANTE</h2>
                {% if beneficiario.status_id != 10010300 %}
                    {% if cadastro_completo %}
                            <div class="js-sweetalert" style="float: right; margin-top: -15px">
    {#                            <button type="button" class="btn bg-green waves-effect btn-savecard"  data-type="prompt">#}
                                <button class="btn btn-primary waves-effect btn-savecard" data-type="prompt">
                                    SUBMETER CADASTRO COMPLETO
                                </button>
                            </div>
                    {% endif %}
                {% elif beneficiario.status_id == 10010300 %}
                    <div style="float: right; margin-top: -25px">
                        <button class="btn bg-blue-grey waves-effect" data-type="prompt">
                            PARTICIPANTE COM CADASTRO COMPLETO
                        </button>
                        <button class="btn bg-cyan waves-effect " data-type="prompt">
                            VERIFICAR FREQUÊNCIA DO PARTICIPANTE
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="{% if tab_active == 'participante' %}active{% endif %}">
                        <a href="/participante/cadastro/{{ id_participante }}/">
                            {% if beneficiario.verificacao_dados_participante %}
                                <i class="material-icons icon-ok">check_circle</i>
                            {% else %}
                                <i class="material-icons icon-pendente">report</i>
                            {% endif %}
                            PARTICIPANTE
                        </a>
                    </li>
                    <li role="presentation" class="{% if tab_active == 'representante' %}active{% endif %}">
                        <a href="/participante/cadastro/{{ id_participante }}/representante">
                            {% if beneficiario.verificacao_representante_legal %}
                                <i class="material-icons icon-ok">check_circle</i>
                            {% else %}
                                <i class="material-icons icon-pendente">report</i>
                            {% endif %}
                            REPRESENTANTE LEGAL
                        </a>
                    </li>
                    <li role="presentation" class="{% if tab_active == 'documento' %}active{% endif %}">
                        <a href="/participante/cadastro/{{ id_participante }}/documentos">
                            {% if beneficiario.verificacao_documentacao %}
                                <i class="material-icons icon-ok">check_circle</i>
                            {% else %}
                                <i class="material-icons icon-pendente">report</i>
                            {% endif %}
                            DOCUMENTOS
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in">
                        {% block content_participante %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
