{% extends "01_base/base-application.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <h2>Atividades de trabalho de campo</h2>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <a href="/atividade/cadastro">
                            <button type="button" class="btn btn-warning btn-xs btn-block waves-effect">
                                <i class="material-icons">add_circle</i>
                                <span>Cadastrar Atividade</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="list-group">
                        {% for status_ativs in status_atividade %}
                            {% if status_ativs.id == 20010100 %}
                                <a href="/atividade/andamento" class="waves-black">
                                    <li class="list-group-item">
                                        {{ status_ativs.texto }}
                                        <span class="badge bg-cyan" style="width: 150px;">{{ atividade_andamento }} Em andamento </span>
                                    </li>
                                </a>
                            {% endif %}
                            {% if status_ativs.id == 20020100 %}
                                <a href="/atividade/andamento">
                                    <li class="list-group-item">
                                        {{ status_ativs.texto }}
                                        <span class="badge bg-teal" style="width: 150px;">{{ atividade_encerrada }} Encerrada </span>
                                    </li>
                                </a>
                            {% endif %}
                            {% if status_ativs.id == 20011111 %}
                                <a href="/atividade/andamento">
                                    <li class="list-group-item">
                                        {{ status_ativs.texto }}
                                        <span class="badge bg-red" style="width: 150px;">{{ atividade_cancelada }} Cancelada </span>
                                    </li>
                                </a>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}