{% extends "01_base/base-application.html" %}
{% load static %}

{% block content_css %}
    <!-- Colorpicker Css -->
    <link href="{% static "material/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="{% static "material/plugins/dropzone/dropzone.css" %}" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="{% static "material/plugins/multi-select/css/multi-select.css" %}" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="{% static "material/plugins/jquery-spinner/css/bootstrap-spinner.css" %}" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="{% static "material/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="{% static "material/plugins/bootstrap-select/css/bootstrap-select.css" %}" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="{% static "material/plugins/nouislider/nouislider.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>CADASTRO DE OCORRÊNCIA</h2>
            </div>
            <div class="body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.nome_solicitante }}
                                    {#<input type="text" class="form-control" placeholder="Informe o nome do solicitante">#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.tel_solicitante }}
                                    {#<input type="text" class="form-control" placeholder="Informe o telefone no solicitante">#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.email_solicitante }}
                                    {#<input type="text" class="form-control" placeholder="Informe o e-mail do solicitante">#}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <h2 class="card-inside-title">Questionamento da ocorrência</h2>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.questionamento }}
                                    {#<textarea rows="8" class="form-control no-resize" placeholder="Digite aqui a descrição da ocorrência"></textarea>#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="card-inside-title">Beneficiário participante</h2>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.beneficiario_participante }}
                                    {#<input type="text" class="form-control" placeholder="Informe a equipe responsável pela ocorrência">#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="card-inside-title">Equipe responsável pela ocorrência</h2>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.equipe_responsavel }}
                                    {#<input type="text" class="form-control" placeholder="Informe a equipe responsável pela ocorrência">#}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h2 class="card-inside-title">Município da ocorrência</h2>
                            <div class="form-group">
                                <div class="form-line">
                                    {{ form_ocorrencia.municipio }}
                                    {#<input type="text" class="form-control" placeholder="Informe a equipe responsável pela ocorrência">#}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-offset-8 col-md-4 col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar Ocorrência</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block content_js %}
    <!-- Bootstrap Colorpicker Js -->
    <script src="{% static "material/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <!-- Dropzone Plugin Js -->
    <script src="{% static "material/plugins/dropzone/dropzone.js" %}"></script>
    <!-- Input Mask Plugin Js -->
    <script src="{% static "material/plugins/jquery-inputmask/jquery.inputmask.bundle.js" %}"></script>
    <!-- Multi Select Plugin Js -->
    <script src="{% static "material/plugins/multi-select/js/jquery.multi-select.js" %}"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="{% static "material/plugins/jquery-spinner/js/jquery.spinner.js" %}"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="{% static "material/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" %}"></script>

    <!-- noUISlider Plugin Js -->
    <script src="{% static "material/plugins/nouislider/nouislider.js" %}"></script>
    <script src="{% static "project/06_ocorrencia/cadastro.js" %}"></script>

{% endblock %}